[ req ]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[ req_distinguished_name ]
C  = US
ST = GA
L  = Atlanta
O  = venkyorg
CN = venkynewentry.example.com

[ v3_req ]
subjectAltName = @alt_names
extendedKeyUsage = serverAuth

[ alt_names ]
DNS.1=venkynewentry.example.com
DNS.2=venky1.test
DNS.3=venky1
DNS.4=venky2
DNS.5=venky2.test.com
