# A comma separated list of Apache Kafka cluster host names (required)
bootstrap.servers={{ MY_IP }}:9091

confluent.controlcenter.streams.security.protocol=PLAINTEXT
confluent.controlcenter.kafka.mycluster.bootstrap.servers={{ MY_IP }}:9091
confluent.controlcenter.kafka.mycluster.security.protocol=PLAINTEXT

# Unique identifier for the Control Center
confluent.controlcenter.id=1

# Directory for Control Center to store data
confluent.controlcenter.data.dir={{ DATA_DIR }}/c3

# Kafka REST endpoint URL
confluent.controlcenter.streams.cprest.url=http://{{ MY_IP }}:8091

# Replication for internal Control Center topics.
confluent.controlcenter.internal.topics.replication={{ REPLICATION_FACTOR }}

# Topic used to store Control Center configuration
confluent.controlcenter.command.topic.replication={{ REPLICATION_FACTOR }}

# Enable automatic UI updates
confluent.controlcenter.ui.autoupdate.enable=true

# Enable usage data collection
confluent.controlcenter.usage.data.collection.enable=true

# Enable Controller Chart in Broker page
#confluent.controlcenter.ui.controller.chart.enable=true

{% if HEALTHPLUS_ENABLED == '1' -%}
##################### Health+ Reporter #######################
metric.reporters=io.confluent.telemetry.reporter.TelemetryReporter
confluent.telemetry.enabled=true
confluent.telemetry.api.key=<HEALTHPLUS-API-KEY>
confluent.telemetry.api.secret=<HEALTHPLUS-SECRET>
{% else %}
confluent.metrics.reporter.topic.replicas={{ REPLICATION_FACTOR }}
metric.reporters=io.confluent.metrics.reporter.ConfluentMetricsReporter
confluent.metrics.reporter.bootstrap.servers={{ MY_IP }}:9001
{% endif -%}

confluent.monitoring.interceptor.topic.replication={{ REPLICATION_FACTOR }}
confluent.metrics.topic.replication={{ REPLICATION_FACTOR }}
confluent.controlcenter.internal.topics.replication={{ REPLICATION_FACTOR }}
confluent.controlcenter.command.topic.replication={{ REPLICATION_FACTOR }}
